# Tail nginx access log
<source>
    @type tail
    path /var/log/nginx/access.log
    pos_file /var/log/td-agent/nginx-access-log.pos
    tag nginx.access
    format nginx
</source>

# Tail nginx error log
<source>
    @type tail
    path /var/log/nginx/error.log
    pos_file /var/log/td-agent/nginx-error-log.pos
    tag nginx.error

    format multiline
    format_firstline /^\d{4}/\d{2}/\d{2} \d{2}:\d{2}:\d{2} \[\w+\] (?<pid>\d+).(?<tid>\d+): /
    format1 /^(?<time>\d{4}/\d{2}/\d{2} \d{2}:\d{2}:\d{2}) \[(?<log_level>\w+)\] (?<pid>\d+).(?<tid>\d+): (?<message>.*)/
    multiline_flush_interval 3s
</source>

<match **>
    @type stdout
    output_type json
    log_level debug
</match>

#<match nginx.error>
#</match>

# Save to db, make sure tables were made
<match **>
    @type sql
    host localhost
    port 5432
    database atsite
    adapter pg
    username {{USER}}
    password {{PASSWORD}}

    <table>
        table analytics_access
        column_mapping 'remote:remote,host:host,user:user,method:method,path:uri,code:code,size:size,referer:referer,agent:agent'
    </table>

</match>
