<html>
<head>
    {% block head %}
    <meta charset=utf-8>
    <title>{% block title %}{% endblock %}</title>
    <!-- CDN stylesheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>

<body>
{% block base_body %}
<div class="columns">
    <div class="column">
        {{daily_user_chart}}
    </div>
    <div class="column">

    </div>
</div>
{% endblock %}
</body>

</html>
