upstream atsite {
    server 127.0.0.1:5000;
}

upstream atanalytics {
    server 127.0.0.1:5001;
}

upstream livetracking_livetrack24 {
    server 127.0.0.1:5002;
}

server {
    # Use leading dot to match subdomains as well
    # Add server catch-all if vm
    server_name .adventure-track.com {%if DEV%}_{%endif%};

    # Work around virtualbox sendfile bug
    {% if DEV %}
        sendfile off;
        open_file_cache off;
    {% endif %}

    # Enable gzip for a variety of content types
    gzip on;
    gzip_min_length 1000;
    gzip_types text/plain text/css application/json application/javascript text/javascript;

    # Avoid issues with people uploading large files
    client_max_body_size 4G;

    # Default no browser cache
    expires epoch;

    # Frontend
    location / {
        # Standard /etc/nginx/proxy_params
        include proxy_params;
        proxy_pass http://atsite;
    }

    # Match /analytics and /analytics/hi but not /analyticsss
    # (?:...) is a passive group
    location ~ ^/analytics(?:/(.*))?$ {
        include proxy_params;
        proxy_pass http://atanalytics/$1;
    }

    # Detect Livetrack24 livetracking format
    location ~ ^.*/(client.php|track.php) {
        include proxy_params;
        # No trailing slash to pass the entire URI
        proxy_pass http://livetracking_livetrack24;
    }

    # Crossbar router
    # Needs to be exact match to prevent nginx from redirecting to /ws/
    location = /ws {
        include proxy_params;
        # Standard timeout is 60s, make it 10 hours
        proxy_read_timeout 36000s;
        proxy_pass http://localhost:8080/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_buffering off;
    }

    # All static files (css, js)
    location /static/ {
        {% if not DEV %}
            # Ensure that people get latest js and css asap
            # TODO: Add query param or use custom filename based on etag
            expires epoch;
        {% endif %}
        alias /home/atuser/adventure-track/client/static/;
    }

    # All media (video, image, audio)
    location /media/ {
        {% if not DEV %}
            # Media is unlikely to change once encoded
            expires 60m;
        {% endif %}
        # Avoid access to folders with originals
        location ~ video/|image/|audio/ {
            # Will always add e.g. media/video
            root /home/atuser/;
        }
    }

    # Don't use nginx thread pools with video directory,
    # probably all video files for a popular race will be cached in memory
    # which is faster. With nginx/linux it's either non-blocking loading
    # from disk with thread pools or blocking loading from memory/disk.
    # (nginx cannot check if a file is cached in memory due to kernel)
}
