/* General layout */
html, body {
    height: 100%;
    /* Hides scroll bar */
    overflow: auto;
}
body {
    overflow: auto;
}
.rightpane {
    overflow-y: scroll;
}
.columns.panes {
    /* Always display flex, even on mobile, not std Bulma setting */
    display: flex;
    height: 100%;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#tabmenu {
    flex: 1 0 auto;
}
.leftpane {
    display: flex;
    flex-flow: column nowrap;
}
.leftpane #timeline {
    flex: 0 0 auto;
}
.leftpane .mapwrap {
    /* It will shrink back to normal size, this is
       to make sure that map size is initialized properly on load,
       sometimes it would appear as a very narrow slice */
    height: 100%;
    flex: 1 1 auto;
    position: relative;
}
.leftpane #map-view {
    /* flex-grow flex-shrink flex-basis */
    /*flex: 1 1 auto;*/
    height: 100%;
    width: 100%;
    /* Stretch to mapwrap dimensions */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* Logos */
.logos {
    /* It's a flex child itself, avoid it shrinking */
    flex: 0 0 auto;

    height: 90px;

    padding: 10px;

    background: lightgrey;
}

.adventurelist .card + .card {
    margin-top: 2em;
}

/* Athlete markers on map */
.athlete-marker {
    height: 64px;
    width: 48px;
    margin: -64px 0 0 -24px;
    /* Simple solution for seeing other markers through
       each other when close together */
    opacity: .8;

    z-index: 999;

    background-size: cover;
}
.athlete-marker * {
    cursor: pointer;
}
.athlete-marker > * {
    position: absolute;
}
.athlete-marker .picbox {
    background: grey;
    border: white 1.4px solid;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    height: 48px;
    width: 48px;
}
.athlete-marker .namebox {
    width: 100%;
    top: 24px;
    text-align: center;
    transform: translateY(-9px);
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px 0 #000;
    /* From Bulma */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",
                "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Timeline */
.vis-item.vis-line, .vis-item.vis-dot {
    visibility: hidden;
}

.vis-item.msgtype-text, .vis-item.msgtype-video, .vis-item.msgtype-image {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.vis-item, .msg-marker {
    font-family: "FontAwesome";
    font-size: 30px;
}
.imgthumbwrapper, .vidthumbwrapper  {
    font-family: "FontAwesome";
    font-size: 80px;
}
.msg-marker {
    font-size: 20px;
    background: rgba(255,255,255,.7);
    border-radius: 5px;
}
.athlete-marker {}

.vis-item:hover,
.msg-marker:hover {
    cursor: pointer;
}
/* Still Timeline but some map stuff as well */
.vis-item.msgtype-text:before,
.msg-marker.msgtype-text:before {
    content: "";
}
.vis-item.msgtype-text:hover:before {
    content: "";
}

.vis-item.msgtype-video:before,
.msg-marker.msgtype-video:before,
.vidthumbwrapper:after {
    content: "";
}
.vis-item.msgtype-video:hover:before {
    content: "";
}

.vis-item.msgtype-image:before,
.msg-marker.msgtype-image:before,
.imgthumbwrapper:after {
    content: "";
}
.vis-item.msgtype-image:hover:before {
    content: "";
}
/* Make image transparent to indicate that it is not full-res */
.imgthumb, .vidthumb {
    opacity: .7;
}
/* Center icon */
.imgthumbwrapper:after,
.vidthumbwrapper:after {
    color: rgba(255,255,255,.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.imgthumbwrapper:hover:after,
.vidthumbwrapper:hover:after {
    color: rgba(255,255,255,1);
}

/* Overlay that shows video, images */
/* Show above vis.Timeline 'now' line and mapbox attribution */
#overlay .content {
    z-index: 999;
}
#overlay video, #overlay img {
    /* New viewport height/width units, supported by modern browsers.
       Amazing! */
    max-height: 80vh;
    max-width: 80vw;
}

/* Blog styling */
.message .mediathumb, .message .msglike {
    cursor: pointer;
}
#blog {
    padding: 10px;
    /* Provide parent for HTMLElement.offsetTop */
    position: relative;
}
.msglike.liked {
    color: red;
}
/* Image container should be 16x9 */
.message .mediathumb {
    /* This trick makes use of the fact that padding is relative to width */
    padding: 0 0 56.25% 0;
    height: 0;
    background: darkgrey;
}
/* Make image stretch to height of container. CSS is insane. */
.message img.vidthumb, .message img.imgthumb {
    position: absolute;
    width: auto;
    left: 50%;
    height: 999px;
    max-height: 100%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}


/*
 * Slider
 */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;

    margin: 0px 60px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    max-height: 70px;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Make non-active logos grey, active one color */
.slick-slide {
    filter: opacity(.25);
    transition: filter 1s;
}
.slick-slide.slick-center {
    filter: none;
}
