/* General layout */
body {
    margin: 0;
    font-family: Georgia, serif;
}
.leftpane {
    position: relative;
    float: left;
    width: 64%;
    height: 100%;
}
.rightpane {
    float: right;
    width: 36%;
    height: 100%;
    overflow: scroll;
}

/*
 * Map occupies top part, timeline gets bottom part.
 * NOTE: Timeline needs fixed height option on init.
 */
#map-view {
    position: absolute;
    top: 0;
    bottom: 150px;
    width: 100%;
}
#timeline {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Avoid text select on double click by using this class */
.noselect {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */;
}

/* Timeline */
.vis-item.vis-line, .vis-item.vis-dot {
    visibility: hidden;
}

.vis-item.msgtype-text, .vis-item.msgtype-video, .vis-item.msgtype-image {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}

.vis-item, .msg-marker, .imgthumbwrapper, .vidthumbwrapper  {
    font-family: "FontAwesome";
    font-size: 30px;
}
.msg-marker {
    font-size: 20px;
    width: 400px;
}
.athlete-marker {}

.vis-item:hover,
.msg-marker:hover {
    cursor: pointer;
}
/* Still Timeline but some map stuff as well */
.vis-item.msgtype-text:before,
.msg-marker.msgtype-text:before {
    content: "";
}
.vis-item.msgtype-text:hover:before {
    content: "";
}

.vis-item.msgtype-video:before,
.msg-marker.msgtype-video:before,
.message .vidthumbwrapper:after {
    content: "";
}
.vis-item.msgtype-video:hover:before {
    content: "";
}

.vis-item.msgtype-image:before,
.msg-marker.msgtype-image:before,
.message .imgthumbwrapper:after {
    content: "";
}
.vis-item.msgtype-image:hover:before {
    content: "";
}
/* Make image transparent to indicate that it is not full-res */
.message img {
    opacity: .6;
}
/* Give :after element a non-standard positioned parent to relate to */
.message .imgthumbwrapper,
.message .vidthumbwrapper {
    position: relative;
}
/* Center icon */
.message .imgthumbwrapper:after,
.message .vidthumbwrapper:after {
    color: white;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Overlay that shows video, images */
/* Show above vis.Timeline 'now' line and mapbox attribution */
#overlay > * {
    z-index: 9999;
}
#overlay .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
#overlay .overlay-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
}
#overlay .exit {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 40px;
    /* Put above video */
    margin-top: -50px;
}
#overlay .exit:hover {
    cursor: pointer;
}
#overlay .content {
}
#overlay video, #overlay img {
    /* New viewport height/width units, supported by modern browsers.
       Amazing! */
    max-height: 80vh;
    max-width: 80vw;
}

/* Blog styling */
.message .imgthumb, .message .vidthumb {
    width: 80%;
    margin: auto;
    cursor: pointer;
    display: block;
}
.message {
    text-align: center;
    margin: 20px 10%;
}
.message .meta {
    margin: 5px 0;
}
.message .time {
    font-variant: small-caps;
}
.message .athlete {
    font-style: italic;
}
.message .text {
    margin-bottom: 8px;
}

