{% extends "base-with-nav.html" %}

{% block title %}
Adventure-Track.com - Share your adventure
{% endblock %}

{% block body %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="subtitle">Share your adventure with the world by posting location updates, photos and video from your phone. Interested in using this for your personal adventure or adventure race?</p>
                    <a href="mailto:info@adventure-track.com" class="button is-link">Contact us</a>
                </div>
                <div class="column adventurelist">
                    <h1 class="title">
                        Adventures
                    </h1>
                    {% if advsLoadError %}
                    <div class="notification is-danger">
                      {{advsLoadError}}
                    </div>
                    {% else %}
                        {% for adv in adventures %}
                        {% set adv_page_url = '/a/'+adv.url_hash %}
                        <div class="card">
                          <div class="card-content">
                            <!--<a href="{{adv_page_url}}">-->
                                <p class="title" style="color:#4a4a4a;">{{adv.name}}</p>
                            <!--</a>-->
                            <div class="content">
                              {{adv.description or ''}}
                            </div>
                          </div>
                            <footer class="card-footer">
                                <a href="{{adv_page_url}}" class="card-footer-item">Follow race...</a>
                            </footer>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">
            Recent messages
        </h1>
        <div class="columns is-multiline">
            {% if msgsLoadError %}
            <div class="notification is-danger">
              {{msgsLoadError}}
            </div>
            {% else %}
                {% for msg in messages %}
                {% set user_page_url = '/u/'+msg.user.id_hash %}
                <div class="column is-one-third-tablet is-one-quarter-desktop">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{user_page_url}}">
                                <figure class="image">
                                    {% if msg.media %}
                                        {% if msg.media.image and msg.media.image.thumb %}
                                        <div class="imgthumbwrapper">
                                            <img class="imgthumb" src="/media/{{msg.media.image.thumb.path}}" />
                                        </div>
                                        {% endif %}
                                        {% if msg.media.video and msg.media.video.thumb %}
                                        <div class="vidthumbwrapper">
                                            <img class="vidthumb" src="/media/{{msg.media.video.thumb.path}}" />
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                </figure>
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{user_page_url}}">
                                        <figure class="image is-48x48">
                                            <img src="/static/profilepic-placeholder.png" alt="Image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="media-content">
                                    <a href="{{user_page_url}}">
                                        <p class="title is-4">{{msg.user.first_name}} {{msg.user.last_name}}</p>
                                        {#<p class="subtitle"><small><i class="fa fa-compass"></i> Somewhere in the world</small></p>#}
                                    </a>
                                </div>
                            </div>

                            <div class="content">
                                {{msg.text}}
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{user_page_url}}" class="card-footer-item">See more...</a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
