{% extends "base.html" %}

{% block title %}
adventure-track
{% endblock %}

{% block head %}
{{ super() }}
{# Prevent zoom #}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="http://vjs.zencdn.net/5.17.0/video-js.css" rel="stylesheet">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
<!-- Local stylesheets -->
<link href="/static/vis.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block base_body %}

<div>
    <div class="leftpane noselect">
        <div id="map-view"></div>
        <div id="timeline"></div>
    </div>
    <div class="rightpane">
        <div id="blog"></div>
    </div>
</div>

<div id="overlay"></div>

{# Avoid jinja2 parsing this Ractive template #}
{% raw %}
<template id="overlay-template">
    {{#if visible}}
    <div fade-in class="modal is-active">
        <div class="modal-background" on-click="@this.close()"></div>
        <div class="content">
            {{#if vidsrc}}
            <video autoplay controls src="{{vidsrc}}"></video>
            {{/if}}
            {{#if imgsrc}}
            <img src="{{imgsrc}}" />
            {{/if}}
        </div>
        <button class="modal-close" on-click="@this.close()"></button>
    </div>
    {{/if}}
</template>

<template id="blog-template">
    <div>
        {{#messagesLoadError}}
        <div class="notification is-danger">
          <button class="delete" on-click="@this.set('messagesLoadError', null)"></button>
          {{messagesLoadError}}
        </div>
        {{/messagesLoadError}}
        {{#messages}}
        <div fade-in="{duration: 800}" class="card message">
            <div class="card-image">
                <figure class="image">
                    {{#if image_versions}}
                    <div class="imgthumbwrapper">
                        <img on-click="show" class="imgthumb" src="/media/{{image_versions.thumb}}" />
                    </div>
                    {{/if}}
                    {{#if video_versions}}
                    <div class="vidthumbwrapper">
                        <img on-click="show" class="vidthumb" src="/media/{{video_versions.thumb}}" />
                    </div>
                    {{/if}}
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{this.athlete.name}}</p>
                        <!--<p class="subtitle is-6">@johnsmith</p>-->
                    </div>
                </div>

                <div class="content">
                    {{this.text}}
                    <br>
                    <small>{{this.timestamp.calendar(null,{sameElse: 'ddd MMM Do YYYY HH:mm'})}}</small>
                </div>
            </div>
            <footer class="card-footer">
                <p on-click="@this.like(this.id)" class-liked="{{likes[this.id]}}" class="card-footer-item msglike">
                    <span>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                </p>
            </footer>
        </div>
        {{/messages}}
    </div>
</template>
{% endraw %}

<script src="/static/bundle.js"></script>

{% endblock %}
