{% extends "base.html" %}

{% block title %}
adventure-track
{% endblock %}

{% block head %}
<link href="/static/vis.css" rel="stylesheet" type="text/css" />
{# Prevent zoom #}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="http://vjs.zencdn.net/5.17.0/video-js.css" rel="stylesheet">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
{# Allow stylesheets to be overridden by parent ones #}
{{ super() }}
{% endblock %}

{% block base_body %}

<div class="wrapper">
    <nav class="nav has-shadow">
        <div class="nav-left is-hidden-mobile">
          <a class="nav-item" href="/">
            <span>Adventure-Track</span>
          </a>
          <!--<a class="nav-item is-tab is-hidden-mobile is-active">Home</a>-->
          <!--<a class="nav-item is-tab is-hidden-mobile">Features</a>-->
          <!--<a class="nav-item is-tab is-hidden-mobile">Pricing</a>-->
          <!--<a class="nav-item is-tab is-hidden-mobile">About</a>-->
        </div>
          <div class="nav-center">
              <span class="nav-item">
              {% if user %}
                <span>{{user.first_name}} {{user.last_name}} personal tracking page</span>
              {% elif adventure %}
                <span>{{adventure.name}}</span>
              {% endif %}
              </span>
          </div>
        <!--<span class="nav-toggle">-->
          <!--<span></span>-->
          <!--<span></span>-->
          <!--<span></span>-->
        <!--</span>-->
        {# Bulma needs a nav-right to center nav-center #}
        <div class="nav-right"></div>
        <!--<div class="nav-right nav-menu">-->
          <!--<a class="nav-item is-tab is-hidden-tablet is-active">Home</a>-->
          <!--<a class="nav-item is-tab is-hidden-tablet">Features</a>-->
          <!--<a class="nav-item is-tab is-hidden-tablet">Pricing</a>-->
          <!--<a class="nav-item is-tab is-hidden-tablet">About</a>-->
          <!--<a class="nav-item is-tab">-->
            <!--<figure class="image is-16x16" style="margin-right: 8px;">-->
              <!--<img src="http://bulma.io/images/jgthms.png">-->
            <!--</figure>-->
            <!--Profile-->
          <!--</a>-->
          <!--<a class="nav-item is-tab">Log out</a>-->
    </nav>

    <div class="columns is-gapless panes">
        {# Hide on mobile for now, should use tabs instead #}
        <div class="column leftpane is-half-tablet is-two-thirds-desktop is-hidden-mobile is-unselectable">
            <div class="mapwrap">
                <div id="map-view"></div>
            </div>
            <div id="timeline"></div>
        </div>
        <div id="blog" class="column rightpane">
            <div class="loader"></div>
        </div>
    </div>

    {% if adventure and adventure.logos %}
        <div class="logos">
            {% for logo in adventure.logos %}
                <div class="slide">
                    <a href="{{logo.url}}" target="_blank">
                        <img src="/assets/logos/{{logo.imgsrc}}" alt="{{logo.name}}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div id="overlay"></div>

{# Avoid jinja2 parsing this Ractive template #}
{% raw %}
<template id="overlay-template">
    {{#if visible}}
    <div fade-in class="modal is-active">
        <div class="modal-background" on-click="@this.close()"></div>
        <div class="content">
            {{#if vidsrc}}
            <video autoplay controls src="{{vidsrc}}"></video>
            {{/if}}
            {{#if imgsrc}}
            <img src="{{imgsrc}}" />
            {{/if}}
        </div>
        <button class="modal-close" on-click="@this.close()"></button>
    </div>
    {{/if}}
</template>

<template id="blog-template">
    <div>
        {{#messagesLoadError}}
        <div class="notification is-danger">
          <button class="delete" on-click="@this.set('messagesLoadError', null)"></button>
          {{messagesLoadError}}
        </div>
        {{/messagesLoadError}}
        {{#messages}}
        <div data-msgid="{{this.id}}" fade-in="{duration: 800}" class="card message">
            {{#if media.image || media.video}}
            <div class="card-image" on-click="show">
                <figure class="image mediathumb">
                    {{#if media.image}}
                    <div class="imgthumbwrapper">
                        <img class="imgthumb" src="/media/{{media.image.thumb.path}}" />
                    </div>
                    {{/if}}
                    {{#if media.video}}
                    <div class="vidthumbwrapper">
                        <img class="vidthumb" src="/media/{{media.video.thumb.path}}" />
                    </div>
                    {{/if}}
                </figure>
            </div>
            {{/if}}
            {{#if media.audio}}
            <div class="card-audio">
                <audio src="/media/{{media.audio.std.path}}" >
                    Your browser does not support the <code>audio</code> element.
                </audio>
            </div>
            {{/if}}
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="/static/profilepic-placeholder.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{users[this.user_id].first_name}} {{users[this.user_id].last_name}}</p>
                        <!--<p class="subtitle is-6">@johnsmith</p>-->
                    </div>
                </div>

                <div class="content">
                    {{this.text}}
                    <br>
                    <small>{{this.timestamp.calendar(null,{sameElse: 'ddd MMM Do YYYY HH:mm'})}}</small>
                </div>
            </div>
            <footer class="card-footer">
                <p on-click="@this.like(this.id)" class-liked="{{likes[this.id]}}" class="card-footer-item msglike">
                    <span>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                </p>
            </footer>
        </div>
        {{/messages}}
    </div>
</template>
{% endraw %}

<script src="/static/bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/slick.min.js"></script>
<script src="/static/logo-slider.js"></script>

{% endblock %}
